/* Add CSS Styling */
.red,
.red2 {
    background-color: #FF2E2E;
    font-family: 'Verdana', 'dejaVu Sans', 'sans-serif';
}

#blue {
    color: #5C5CFF;
    font-size: 36px;
}

.red2 {
    font-size: 24px;
}

#green {
    color: #8AFF8A;
    font-size: 24px;
    font-weight: bold;
}

.trial {
    font-size: 24px;
}