body {
  background: #eee;
  font-family: sans-serif;
  font-size: 16px;
}

.card {
  width: 400px;
  background: #fff;
  margin: auto;
  border: #fff solid 5px;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  border: solid #e3f4ff;
  padding: 10px;
  margin-top: 15px;
}

.content {
  background: #e3f4ff;
  padding: 10px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

button {
  background: white;
  border: 1px solid #e3f4ff;
  padding: 10px;
  display: block;
  margin: auto;
}